.cal{
  width: 300px;
  height: 380px;
 margin: 0px auto;;
  background-color: #17181a;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 6px 10px 15px #a5a5a5;
}
.cal_int{
  margin-top: 8px;
  width: 270px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none;
  
}
.cal_btn{margin: 0px;
  padding: 0px;
  margin-top: 18px;
 
  color: white;
padding: 10px 18px;
  display: inline-flex;
  font-size: 26px;
  margin: 6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 50%;
  background-color: #a5a5a5;
  cursor: pointer;
}
.cal_btn:hover{
  box-shadow: 3px 5px 5px rgba(59, 55, 55, 0.973) ;
  color: #17181a;
  transition:0.5s;

}
.equal{
  margin: 0px;
  padding: 0px;
  margin-top: 18px;
 
  color: white;
padding: 10px 18px;
  display: inline-flex;
  font-size: 26px;
  margin: 6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 50%;
  background-color: #fe9e0a;
  cursor: pointer;
}
.equal:hover{
  box-shadow: 3px 5px 5px rgba(218, 218, 66, 0.398);
  color:black;
  transition:0.5s;

}
 
 
  